parameters:
    level: 0
    paths:
        - ../
    excludePaths:
        - ../local_config
        - ../vendor
        - ../external/php53_2
        - ../php\utilities\send_swiftmail.php
    scanFiles:
        - ../local_config/config.php
